{
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "preserve",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid"
}
